@model Post

@{
    ViewBag.Title = "添加新闻";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            添加新闻
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("添加新闻", "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                保存
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                保存并继续
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}